
<p-dialog [(visible)]="viewDialog" [style]="{width: '70vw'}" header="{{'agent.tabPan' | translate}}" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <p-tabView>
            <p-tabPanel header="{{'agent.tabPan' | translate}}">
                <div class="grid">
                    <div class="field col-12 md:col-6">
                        <label for="1">{{'agent.ref' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.ref' | translate}}" autofocus  id="1" [ngModel]="item.ref">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="2">{{'agent.nomUtilisateur' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.nomUtilisateur' | translate}}" autofocus  id="2" [ngModel]="item.nomUtilisateur">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="3">{{'agent.motDePasse' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.motDePasse' | translate}}" autofocus  id="3" [ngModel]="item.motDePasse">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="4">{{'agent.nom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.nom' | translate}}" autofocus  id="4" [ngModel]="item.nom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="5">{{'agent.prenom' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.prenom' | translate}}" autofocus  id="5" [ngModel]="item.prenom">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="6">{{'agent.adresse' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.adresse' | translate}}" autofocus  id="6" [ngModel]="item.adresse">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="7">{{'agent.entiteAdministrative' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.entiteAdministrative' | translate}}" autofocus  id="7" [ngModel]="item.entiteAdministrative?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="8">{{'agent.poste' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.poste' | translate}}" autofocus  id="8" [ngModel]="item.poste?.libelle">
                    </div>
                    <div class="field col-12 md:col-6">
                        <label for="9">{{'agent.plageHoraire' | translate}}</label>
                        <input class="mb-2 mr-2" type="text" pInputText [disabled]="true" placeholder="{{'agent.plageHoraire' | translate}}" autofocus  id="9" [ngModel]="item.plageHoraire?.ref">
                    </div>
                </div>
            </p-tabPanel>

        </p-tabView>

    </ng-template>

    <ng-template pTemplate="footer" >
        <div class="p-flexbox">
            <div>
                <button pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-outlined" (click)="hideViewDialog()"></button>
            </div>
        </div>
    </ng-template>
</p-dialog>



